In [45]:
import numpy as np
import pandas as pd
df=pd.read_csv("country_vaccination_stats.csv")
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [46]:
countries=df["country"].value_counts()
cnt_list=countries.keys()
cnt_list

Index(['Wales', 'Canada', 'Scotland', 'Northern Ireland', 'Israel',
       'United States', 'China', 'United Kingdom', 'England', 'Mexico',
       'Chile', 'Lithuania', 'Denmark', 'Italy', 'Czechia', 'Russia',
       'Switzerland', 'Romania', 'Estonia', 'Germany', 'Norway', 'Greece',
       'Bahrain', 'Latvia', 'Portugal', 'Poland', 'Oman', 'Malta', 'Argentina',
       'Bulgaria', 'Hungary', 'Croatia', 'Iceland', 'Belgium', 'Luxembourg',
       'Costa Rica', 'Finland', 'Ireland', 'Sweden', 'Spain', 'Slovenia',
       'France', 'United Arab Emirates', 'Austria', 'Serbia', 'Slovakia',
       'Netherlands', 'Cyprus', 'Seychelles', 'Gibraltar', 'Indonesia',
       'Turkey', 'Saudi Arabia', 'Singapore', 'India', 'Brazil', 'Panama',
       'Isle of Man', 'Ecuador', 'Kuwait'],
      dtype='object')

In [47]:
median_list=[]
name_list=[]
for i in range(len(cnt_list)):
    median_list.append(np.nanmedian(df.loc[df["country"]==cnt_list[i]]["daily_vaccinations"]))
    name_list.append(cnt_list[i])

C:\Users\safak\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1113: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,

In [48]:
name_list=name_list[::-1]

In [49]:
print("Top 3 Countries with with Highest Medain Value: {}".format(name_list[:3]))

Top 3 Countries with with Highest Medain Value: ['Kuwait', 'Ecuador', 'Isle of Man']